<div class="footrow" nz-row>
  <div class="foot1" nz-col [nzSpan]="4">
    <img class="imm" src="./assets/images/home/21UX.png">
    <br>
    <br>
    <a>关于我们</a>
    <a>意见反馈</a>
  </div>

  <div class="div1" nz-col [nzSpan]="4">
    <ul class="ul1">
      <h3>UED团队网址</h3>
    </ul>
    <ul class="ull">
      <li>阿里巴巴UED</li>
      <li>网易UED</li>
      <li>支付宝UEDC</li>
      <li>淘宝UED</li>
    </ul>
    <ul class="ulll">
      <li>腾讯CDC</li>
      <li>腾讯IXUS</li>
      <li>腾讯MXD</li>
      <li>京东UED</li>
    </ul>
  </div>

  <div class="div1" style="margin-left: 30px;" nz-col [nzSpan]="4">
    <h3>产品思维网址</h3>
    <ul class="ul3">
      <li>人人都是产品经理</li>
      <li>产出</li>
      <li>知乎</li>
    </ul>
  </div>

  <div class="div1" nz-col [nzSpan]="4">
    <h3>视觉网址</h3>
    <ul class="ul3">
      <li>UI中国</li>
      <li>Behance</li>
      <li>ZCOOL站酷</li>
      <li>Dribble</li>
    </ul>
  </div>

  <div class="div1" nz-col [nzSpan]="4">
    <h3>交互设计网址</h3>
    <ul class="ul3">
      <li>微交互</li>
    </ul>
  </div>

  <div class="div1" id="div11" nz-col [nzSpan]="4">
    <h3>图库网</h3>
    <ul class="ul3">
      <li>全景网</li>
      <li>PEXELS</li>
      <li>CUPCAKE</li>
      <li>PIXITE</li>
    </ul>
  </div>
  <br>
</div>
<div>
  <p>Copyright © 2017 21CN UX All Rights Reserved</p>
</div>