<div class="footrow" nz-row>
  <div class="foot1" nz-col [nzSpan]="4">
    <img class="imm" src="./assets/images/home/21UX.png">
    <br>
    <br>
    <a class="linka" ref="http://ux.tech.21cn.com/about-us.html">关于我们</a>
    <a class="linka">意见反馈</a>
  </div>

  <div class="div1" nz-col [nzSpan]="4">
    <ul class="ul1">
      <h3>UED团队网址</h3>
    </ul>
    <ul class="ull">
      <a href="http://www.aliued.cn/" target="blank"><li>阿里巴巴UED</li></a>
      <a href="https://ued.alipay.com/" target="blank"><li>支付宝UEDC</li></a>
      <a href="http://uedc.163.com/" target="blank"><li>网易UED</li></a>
      <a href="http://tbued.lofter.com/" target="blank"><li>淘宝UED</li></a>
    </ul>
    <ul class="ulll">
      <a href="http://cdc.tencent.com/" target="blank"><li>腾讯CDC</li></a>
      <a href="http://cdc.tencent.com/" target="blank"><li>腾讯IXUS</li></a>
      <a href="http://mxd.tencent.com/" target="blank"><li>腾讯MXD</li></a>
      <a href="http://jdc.jd.com/" target="blank"><li>京东UED</li></a>
    </ul>
  </div>

  <div class="div1" style="margin-left: 30px;" nz-col [nzSpan]="4">
    <h3>产品思维网址</h3>
    <ul class="ul3">
      <a href="http://www.woshipm.com/" target="blank"><li>人人都是产品经理</li></a>
      <a href="https://www.jianshu.com/" target="blank"><li>产出</li></a>
      <a href="https://www.zhihu.com/signup?next=%2F" target="blank"><li>知乎</li></a>
    </ul>
  </div>

  <div class="div1" nz-col [nzSpan]="4">
    <h3>视觉网址</h3>
    <ul class="ul3">
      <a href="http://www.ui.cn/" target="blank"><li>UI中国</li></a>
      <a href="https://www.behance.net/" target="blank"><li>Behance</li></a>
      <a href="http://www.zcool.com.cn/" target="blank"><li>ZCOOL站酷</li></a>
      <a href="https://dribbble.com/" target="blank"><li>Dribble</li></a>
    </ul>
  </div>

  <div class="div1" nz-col [nzSpan]="4">
    <h3>交互设计网址</h3>
    <ul class="ul3">
      <a href="http://www.weiued.com/" target="blank"><li>微交互</li></a>
    </ul>
  </div>

  <div class="div1" id="div11" nz-col [nzSpan]="4">
    <h3>图库网</h3>
    <ul class="ul3">
      <a href="http://www.quanjing.com/" target="blank"><li>全景网</li></a>
      <a href="https://www.pexels.com/" target="blank"><li>PEXELS</li></a>
      <a href="http://cupcake.nilssonlee.se/" target="blank"><li>CUPCAKE</li></a>
      <a href="http://www.pixite.com.au/" target="blank"><li>PIXITE</li></a>
    </ul>
  </div>
  <br>
</div>
<div>
  <p>Copyright © 2017 21CN UX All Rights Reserved</p>
</div>