<div class="home">
	
	<div class="homeup">
	 <div nz-row [nzType]="'flex'" [nzJustify]="'center'">
        <div class="homediv" nz-col [nzSpan]="4">
          <img  style="cursor:hand" class="im" src="./assets/images/home/oa.png" alt="OA系统" title="OA系统">
        </div>
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/tw.png" alt="teamwork" title="teamwork">
        </div>
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/yongyan.png" alt="用言" title="用言">
        </div>
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/Gitlab.png" alt="Gitlab" title="Gitlab">
        </div>
      </div>
	</div>
	
	<div class="homedown">
	 <div nz-row [nzType]="'flex'" [nzJustify]="'center'">
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/qa.png" alt="用户反馈" title="用户反馈">
        </div>
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/weixiu.png" alt="微秀" title="微秀">
        </div>
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/yuntao.png" alt="云涛" title="云涛">
        </div>
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/mail.png" alt="微企" title="微企">
        </div>
      </div>
	</div>

</div>
