<div class="home">
	
	<div class="homeup">
	 <div nz-row [nzType]="'flex'" [nzJustify]="'center'">
      <a href="http://oa.21cn.com:7001/login/Login.jsp" class="link-item" target="_blank">
        <div class="homediv" nz-col [nzSpan]="4">
          <img  style="cursor:hand" class="im" src="./assets/images/home/oa.png" alt="OA系统" title="OA系统">
        </div>
      </a>
      <a href="http://tw.tech.21cn.com" class="link-item" target="_blank">
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/tw.png" alt="teamwork" title="teamwork">
        </div>
      </a>
      <a id="yongyan" src="http://ux.tech.21cn.com/ux/charts/0" class="link-item">
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/yongyan.png" alt="用言" title="用言">
        </div>
      </a>
      <a href="http://gitlab.21cn.com/" class="link-item" target="_blank">
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/Gitlab.png" alt="Gitlab" title="Gitlab">
        </div>
      </a>
      </div>
	</div>
	
	<div class="homedown">
	 <div nz-row [nzType]="'flex'" [nzJustify]="'center'">
     <a href="https://help.21cn.com/feedback/login.do" class="link-item" target="_blank">
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/qa.png" alt="用户反馈" title="用户反馈">
        </div>
     </a>
     <a href="http://h5.tech.21cn.com/" class="link-item" target="_blank">
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/weixiu.png" alt="微秀" title="微秀">
        </div>
     </a>
     <a href="http://ux.21cn.com/" class="link-item" target="_blank">
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/yuntao.png" alt="云涛" title="云涛">
        </div>
     </a>
     <a href="http://mail.21cn.net/" class="link-item" target="_blank">
        <div class="homediv" nz-col [nzSpan]="4">
          <img class="im" src="./assets/images/home/mail.png" alt="微企" title="微企">
        </div>
      </a>
      </div>
	</div>

</div>
